<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.example.entity.Horse" name="copper">
        <constructor-arg name="name" value="Copper"/>
    </bean>
    <bean class="org.example.entity.Horse" name="dash">
        <constructor-arg name="name" value="Dash"/>
    </bean>
    <bean class="org.example.entity.Horse" name="magic">
        <constructor-arg name="name" value="Magic"/>
    </bean>

    <bean class="org.example.entity.Rider" name="john">
        <constructor-arg name="name" value="John"/>
    </bean>
    <bean class="org.example.entity.Rider" name="harry">
        <constructor-arg name="name" value="Harry"/>
    </bean>
    <bean class="org.example.entity.Rider" name="jim">
        <constructor-arg name="name" value="Jim"/>
    </bean>

    <bean class="org.example.entity.Pair" name="pair1">
        <constructor-arg index="0" ref="copper"/>
        <constructor-arg index="1" ref="jim"/>
    </bean>
    <bean class="org.example.entity.Pair" name="pair2">
        <constructor-arg name="horse" ref="dash"/>
        <constructor-arg name="rider" ref="john"/>
    </bean>
    <bean class="org.example.entity.Pair" name="pair3">
        <constructor-arg name="horse" ref="magic"/>
        <constructor-arg name="rider" ref="harry"/>

    </bean>

    <bean class="org.example.service.impl.MoneyServiceImpl" name="moneyService"></bean>
    <bean class="org.example.service.impl.RaceServiceImpl" name="raceService" autowire="constructor"></bean>
    <bean class="org.example.view.ViewImpl"></bean>
    <bean class="org.example.service.impl.ResultCheckerImpl"></bean>
    <bean class="org.example.service.impl.GameServiceImpl" autowire="constructor"></bean>


</beans>